@import url("//hello.myfonts.net/count/398f34");

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("./webfonts/398F34_0_0.eot");
  src: url("./webfonts/398F34_0_0.eot?#iefix") format("embedded-opentype"),
    url("./webfonts/398F34_0_0.woff2") format("woff2"),
    url("./webfonts/398F34_0_0.woff") format("woff"),
    url("./webfonts/398F34_0_0.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("webfonts/398F34_1_0.eot");
  src: url("webfonts/398F34_1_0.eot?#iefix") format("embedded-opentype"),
    url("webfonts/398F34_1_0.woff2") format("woff2"),
    url("webfonts/398F34_1_0.woff") format("woff"),
    url("webfonts/398F34_1_0.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("webfonts/398F34_2_0.eot");
  src: url("webfonts/398F34_2_0.eot?#iefix") format("embedded-opentype"),
    url("webfonts/398F34_2_0.woff2") format("woff2"),
    url("webfonts/398F34_2_0.woff") format("woff"),
    url("webfonts/398F34_2_0.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("webfonts/398F34_3_0.eot");
  src: url("webfonts/398F34_3_0.eot?#iefix") format("embedded-opentype"),
    url("webfonts/398F34_3_0.woff2") format("woff2"),
    url("webfonts/398F34_3_0.woff") format("woff"),
    url("webfonts/398F34_3_0.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("webfonts/398F34_4_0.eot");
  src: url("webfonts/398F34_4_0.eot?#iefix") format("embedded-opentype"),
    url("webfonts/398F34_4_0.woff2") format("woff2"),
    url("webfonts/398F34_4_0.woff") format("woff"),
    url("webfonts/398F34_4_0.ttf") format("truetype");
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  color: rgb(68, 68, 68);

  margin: 0;
  padding: 0;
  background-color: #f0f0f0;

  font-family: "gilroy-medium", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.outer-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center center;
  grid-template-columns: 10% 1fr 10%;
  grid-auto-rows: min-content;
  grid-template-areas:
    "logo"
    "title"
    "nav-bar"
    "search";
  grid-area: header;
}

/* Select all children of the header and place them in the 2nd column. Since there are three columns, this would be the center. */
header > * {
  grid-column: 2;
}

footer {
  grid-area: footer;
  color: #a9a9a9;
  font-size: 0.8rem;
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
  /* margin-top: 30px; */
}

.site-hero-logo {
  padding-top: 40px;
  height: 150px;
}

.main-main {
  grid-area: main;
}

.movie-tracker-title {
  /* color: #3a3a3a; */
  color: #2b2b2b;
  font-family: Gilroy-Bold, serif;
  letter-spacing: 3px;
  font-size: calc(10px + 2vmin);
  font-weight: 700;
}

@media (max-width: 500px) {
  .movie-tracker-title {
    font-size: calc(8px + 2vmin);
  }
}

.movie-grid-container {
  display: grid;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  place-items: center center;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 25px;
  grid-area: main;
}

.user-movie-grid-container {
  display: grid;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  place-content: center center;
  grid-template-columns: repeat(auto-fit, minmax(130px, 180px));
  grid-gap: 25px;
  grid-area: main;
}

.movie-container {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 180px;
  /* Maybe add a box shadow at some point? Can't decide! */
  /* box-shadow: 10px 10px 120px 0px rgba(66,24,66,1); */
}

.movie-poster-container {
  position: relative;
  width: 100%;
  display: block;
  padding-bottom: 150%;
  height: 0;
}

.movie-poster {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.add-button img {
  width: 100%;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
}

.user-movie-container {
  display: flex;
  /* place-items: center center; */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  border-radius: 10px;
  background-color: #f7f7f7;
  flex-wrap: wrap;
}

.user-movie-container img {
  width: 100%;
  border-radius: 10px;
}

@media (min-width: 1224px) {
  .movie-grid-container {
    padding-left: 20%;
    padding-right: 20%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .user-movie-grid-container {
    padding-left: 20%;
    padding-right: 20%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 180px));
  }
}

@media (max-width: 600px) {
  .user-movie-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }
}

.add-button {
  height: 50px;
  width: 100%;
  /* background-color: #2c7695; */
  background: linear-gradient(135deg, #5ee7df, #43a4ca);
  transition: background 0.65s ease;
  /* #F7C232 */
  /* #50BFC3 */
  /* #2c7695 */
  display: grid;
  place-items: center center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 0;

  text-decoration: none;
  border: none;
  cursor: pointer;
}

.upcoming-add-button {
  height: 50px;
  width: 100%;
  color: white;
  /* background-color: #2c7695; */
  background: linear-gradient(135deg, #834dc6, #402250);
  transition: background 0.65s ease;
  /* #F7C232 */
  /* #50BFC3 */
  /* #2c7695 */
  display: grid;
  place-items: center center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  text-decoration: none;
  border: none;
  cursor: pointer;
}

/* Intro Page CSS */

.add-first-movie {
  display: grid;
  place-items: center center;
}

/* Add-button CSS START */

.add-button img {
  color: #fff;
  font-weight: bold;
  height: 60%;
}

.calendar-button img {
  padding-left: 2px;
}

.calendar-button {
  padding-top: 4px;
}

button {
  outline: none;
}

/* START LoadMoreMovies button */

.load-more-movies-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.load-more-movies-button {
  display: flex;
  padding: 15px 50px 10px 50px;
  text-decoration: none;
  font-family: Gilroy-SemiBold, "Poppins", sans-serif;
  font-size: 20px;
  color: white;
  background: linear-gradient(135deg, #5c54dd, #b38acc);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  border-radius: 5px;
  /* transform: skewX(-15deg); */
  border: none;
  cursor: pointer;
}

/* END LoadMoreMovies button */

/* START Nav Bar */

body {
  font-family: "gilroy-medium", sans-serif;
}

.wrapper {
  text-align: center;
}

.tabs {
  font-size: 15px;
  padding-top: 1px;
  list-style: none;
  background: #ffffffba;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  display: inline-block;
  border-radius: 50px;
  position: relative;
  font-family: Gilroy-SemiBold;
}

.tabs a {
  text-decoration: none;
  color: #85878b;
  padding: 10px 30px;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition-duration: 0.5s;
}

.tabs a.active {
  color: #fff;
}

.tabs a i {
  margin-right: 5px;
}

.tabs .selector {
  height: 114%;
  /* width: 120px; */
  display: inline-block;
  position: absolute;
  left: 0px;
  top: -7%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  z-index: 1;
  border-radius: 50px;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  background: #05abe0;
  background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
  background: -webkit-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
  /* background: linear-gradient(135deg, #5ee7df, #43a4ca); */
  background: linear-gradient(180deg, #5ee7df, #43a4ca);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );
}

@media (max-width: 613px) {
  .tabs {
    font-size: 12px;
  }

  .tabs a {
    padding: 10px 12px;
  }

  .tabs .selector {
    height: 110%;
    top: -5%;
  }
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:active {
  outline: none;
  border: none;
}

button {
  outline: none;
  border: none;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* END Nav Bar */

.login-container {
  display: grid;
  place-items: center;
  max-height: 450px;
  grid-gap: 15px;
}

.toggle-container {
  margin: auto;
}

.toggle-container button {
  font-family: gilroy-bold;
}

/* START Twitter button */
.twitter-button,
.github-button,
.google-button {
  /* padding: 15px 26px; */
  padding: 15px 126px;
  /* border-radius: 65px; */
  border-radius: 16px;
  /* background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fc355a),
    to(#e53052)
  );
  background: -webkit-linear-gradient(135deg, #5ee7df, #43a4ca);
  background: linear-gradient(135deg, #5ee7df, #43a4ca); */
  background-color: white;
  border-color: white;

  font-size: 17px;
  line-height: 1.17649;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "gilroy-bold", "SF Pro Text", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;

  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  border: none;

  color: rgb(68, 68, 68);
  cursor: pointer;
  display: inline-block;
  min-width: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;

  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px; */
}

.email-container {
  padding: 15px 126px;
  border-radius: 16px;
  /* background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fc355a),
    to(#e53052)
  );
  background: -webkit-linear-gradient(135deg, #5ee7df, #43a4ca);
  background: linear-gradient(135deg, #5ee7df, #43a4ca); */
  background-color: white;
  border-color: white;

  font-size: 17px;
  line-height: 1.17649;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "gilroy-medium", "SF Pro Text", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;

  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  border: none;

  color: rgb(68, 68, 68);
  display: inline-block;
  min-width: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;

  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px; */
}

@media (max-width: 500px) {
  .email-container,
  .twitter-button,
  .github-button,
  .google-button {
    padding: 15px 87px;
  }
}

.SignUp {
  font-family: gilroy-bold;
}

.display-name-input,
.email-input,
.password-input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.existing-account-signin {
  text-align: center;
  color: #4e4e4e;
  padding: 15px 0px;
  font-size: 17px;
  line-height: 1.17649;
  font-weight: 400;
  letter-spacing: -0.022em;
  padding-top: 30px;
  font-family: "gilroy-semibold", "SF Pro Text", "SF Pro Icons",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.email-signup-back-button {
  text-align: center;
  padding-top: 20px;
}

/* Search START */

.search-container {
  color: #85878b;

  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  -webkit-box-align: center;
  align-items: center;
  min-width: 0px;
  min-height: 0px;
  flex-direction: row;
  outline: none;
  margin: 0px;
  border-bottom: 2px solid #85878b;
  padding: 20px 0px 0px 0px;
  width: 414px;
}

.search-input {
  box-sizing: border-box;
  font-family: gilroy-medium;
  font-size: 19px;
  -webkit-appearance: none;
  color: inherit;
  /* font-weight: 600; */
  width: 100%;
  padding: 11px;
  outline: none;
  background: transparent;
  margin: 0px;
  border-radius: 4px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

@media (max-width: 500px) {
  .search-container {
    width: 230px;
  }
}

/* START EmptyMovies componenent CSS */

.no-movies-container {
  display: grid;
  place-items: center;
  padding-top: 50px;
}

.no-movies-container p {
  font-size: 16px;
  text-align: center;
  line-height: 26px;
}

.top-hat-man-img {
  height: 150px;
}

/* END EmptyMovies componenent CSS */

.createdBy {
  padding: 25px 0px;
  font-family: gilroy-light;
}

.save-for-later-div {
  padding: 40px;
}

.no-movies-message-div {
  padding: 20px;
}

.movieButtonDate {
  width: 100%;
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: gilroy-bold;
}

.calendarAddIcon img {
  height: 70%;
}

.user-movie-count {
  display: grid;
  place-items: center;
  padding-top: 50px;
  font-family: gilroy-medium;
  font-size: 20px;
  color: #3a3a3a;
  /* font-weight: bolder;
  font-size: x-large; */
}

.user-watchlist {
  white-space: pre;
  display: flex;
  padding-top: 50px;
  font-family: gilroy-medium;
  font-size: 20px;
  color: #3a3a3a;
  /* font-weight: bolder;
  font-size: x-large; */
  align-items: center;
  justify-content: center;
}

/* Phone input CSS START */

.phone-input {
  transition: 0.4s;
  width: 195px;
  height: 56px;
  border-radius: 82px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0px 29px 0 rgba(255, 247, 247, 0.04);
  border: none;
  color: #444;
  font-family: "gilroy-medium";
  font-size: 18px;
  padding: 0px 35px;
}

input {
  outline: none;
}

/* Phone input CSS END */

/* Toogle Slider START */

:root {
  --primary-color: #69ff8f;
}
.toggle-switch {
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: center;
  margin: 15px 0;
}
.toggle-input {
  position: absolute;
  visibility: hidden;
  z-index: -1;
}
.toggle-slider {
  background: #eee;
  border-radius: 9999px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1),
    inset 0 4px 8px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 1);
  cursor: pointer;
  display: inline-block;
  height: 20px;
  position: relative;
  transition: all ease 0.3s;
  width: 40px;
}
.toggle-slider:before {
  background: white;
  border-radius: 9999px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
  content: "";
  height: 16px;
  left: 2px;
  position: absolute;
  top: 2px;
  transition: all ease 0.3s;
  width: 16px;
}
.toggle-input:checked + .toggle-slider {
  background: var(--primary-color);
}
.toggle-input:checked + .toggle-slider:before {
  left: calc(100% - 18px);
}
.toggle-label {
  color: #ccc;
  cursor: pointer;
  font-weight: bold;
  padding-left: 10px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  transition: ease all 0.3s;
}
.toggle-input:checked ~ .toggle-label {
  color: var(--primary-color);
}

/* Toogle Slider END */

/* Bell SVG */

.bell-icon {
  height: 20px;
  margin-left: 5px;
  fill: #69ff8f;
}

.fa-bell,
.fa-bell-slash {
  font-size: 20px;
}

.fa-bell:before {
  color: #4ff177;
}

/* .fa-bell {
  margin-left: 7.5px;
} */

/* .fa-bell-slash {
  padding-left: 7.5px;
} */

/* SMS updates START */

.phone-container {
  display: block;
  text-align: center;
  margin-top: 100px;
}

.phone-container h2 {
  font-family: "gilroy-bold", sans-serif;
  font-size: 31px;
  letter-spacing: 0px;
  color: #3a3a3a;
  margin-bottom: 30px;
  font-weight: 500;
}

.phone-container span {
  display: block;
  max-width: 432px;
  margin: auto;
  font-size: 18;
  color: #000;
  line-height: 1.5;
  font-family: "gilroy-medium";
}

.phone-input::placeholder {
  text-align: center;
}

.phone-container p {
  margin-bottom: 40px;
}

.phone-input-container,
.get-reminders-button-container {
  display: inline-block;
  padding: 0.3em 0.5em;
}

.get-reminders-button {
  transition: 0.4s;
  height: 56px;
  border-radius: 82px;
  background: linear-gradient(135deg, #5c54dd, #b38acc);
  text-align: center;
  padding: 0px 19px;
  font-family: "gilroy-medium";
  font-size: 18px;
  line-height: 56px;
  border: none;
  color: #fff;
  cursor: pointer;
}
/* SMS updates END */

/* Start Disable SMS Reminders button */
.disable-reminders-button {
  transition: 0.4s;
  height: 56px;
  border-radius: 82px;
  background: linear-gradient(135deg, #b61e30, #ee4b50);
  text-align: center;
  padding: 0px 19px;
  font-family: "gilroy-medium";
  font-size: 18px;
  line-height: 56px;
  border: none;
  color: #fff;
  cursor: pointer;
}
/* END Disable SMS Reminders button */

/* NOTE: Target this Font Awesome bell differentl. Maybe don't use an ID? */
#gray-bell:before {
  font-size: 25px;
  color: #3a3a3a;
}
